<h1>Triangle Time</h1>

<h3>Enter 3 numbers:</h3>

<form action="/answer" method="post">
  <div class="form-group">
    <label for="album_name">Triangle Sides</label>
    <input id="n" name="side1" class="form-control" type="text">
    <input id="n" name="side2" class="form-control" type="text">
    <input id="n" name="side3" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
